WANDB_API_KEY=your_wandb_api_key
WANDB_PROJECT=yolo-training
CUDA_VISIBLE_DEVICES=0
CUDA_LAUNCH_BLOCKING=0
TORCH_USE_CUDA_DSA=0

# Training config
GPUS=1
INPUT_SIZE=640
BATCH_SIZE=16
EPOCHS=600
MODEL=yolo_v11_s
TRAIN=true
TEST=false
