# Environment
.env
.venv/

# Dataset
data/
data_val/

# Weights
weights/*.pt
weights/*.onnx
backbone/
weights*

# Logs
weights/step.csv
weights/*.png

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Cache
*.cache

# Wandb
wandb/
